/* Map */
@use "./craeft_map.scss";
/* Fight */
@use "./craeft_fight.scss";
/* Boss */
@use "./craeft_boss.scss";
/* Item */
@use "./craeft_item.scss";
/* Top Bar */
@use "./craeft_topbar.scss";
/* Craefter */
@use "./craeft_craefter.scss";

* {
  font-family: "MedievalSharp", cursive;
  font-size: 24px;
}

html,
body {
  color: #faebd7;
  background-color: #222;
  min-width: 400px;
}

strong {
  color: #faefe1;
}

@media screen and (max-width: 768px) {
  .frame {
    width: 100%;
  }

  .craefting-interface.columns {
    text-align: center;
  }

  .farm {
    text-align: initial;
  }
}

.nowrap {
  white-space: nowrap;
}

.column {
  display: inline-block;
  vertical-align: top;
  padding-right: 20px;
}

.row {
  text-align: center;
}

.red {
  color: darkred !important;
}

.craeft-logo {
  font-size: 90px;
  font-weight: bold;
  padding-top: 12px;
}

.craeft-logo a {
  color: #faefe1;
}

.craeft-logo a:hover {
  text-decoration: none;
}

.craeft-sub-logo {
  color: darkred;
  position: relative;
  top: -115px;
  left: 100px;
  transform: rotate(38deg);
  font-size: 24px;
  font-weight: bold;
  font-family: sans-serif;
  text-shadow:
    -1px -1px 0 #faefe1,
    1px -1px 0 #faefe1,
    -1px 1px 0 #faefe1,
    1px 1px 0 #faefe1;
}

.player {
  margin-bottom: 30px;
}

.player hr {
  margin-bottom: 18px;
}

.item,
.resources,
.craefter,
.craeft-window,
.craefter-window {
  border: 1px solid #faefe1;
  margin-bottom: 5px;
  margin-top: 2px;
  padding: 6px;
}

.craefters-list {
  margin-top: 5px;
}

.items hr,
.craefters hr,
.farm hr {
  margin-top: 10px;
  margin-bottom: 0;
}

.footer {
  text-align: center;
  background-color: inherit;
  padding: 10px 0 50px;
}

.about .framed-grey {
  margin-bottom: 20px;
}

.about blockquote:before {
  content: open-quote;
}

.about blockquote:after {
  content: close-quote;
}

.about .inspiration-item {
  padding-bottom: 20px;
}

.about .inspiration-item img {
  float: left;
  margin-right: 10px;
  margin-top: 5px;
}

.farm .columns,
.farm .column {
  padding: 0;
  margin: 0;
}

.item-description {
  min-width: 80%;
}

.equipment {
  width: 100%;
}

.equipment .columns {
  padding: 0;
}

.equipment .column {
  padding: 0;
  min-width: 140px;
}

.logs {
  min-height: 190px;
  text-align: left;
}

.slider-edge-value {
  position: relative;
  top: -35px;
}

.rtl {
  direction: rtl;
}

.icon-selected {
  border: 1px solid #faebd7 !important;
}

.attribute-label {
  display: inline;
}

/* Dead */
.dead {
  z-index: 100000;
  position: absolute;
  display: block;
  padding-top: 450px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(140, 0, 0, 0.4);
  vertical-align: middle;
  text-align: center;
}

.you-are-dead {
  font-size: 80px !important;
  line-height: 80px !important;
}

/* RPGUI overrides */
.rpgui-button {
  white-space: nowrap;
}

.rpgui-progress-track {
  line-height: 40px;
}

.rpgui-progress-track .progress-percent {
  z-index: 10;
  position: relative;
}

.rpgui-progress-track .progress-percent span {
  min-width: 40px;
  text-align: right;
  display: inline-block;
}
