* {
    font-family: 'MedievalSharp', cursive;
    font-size: 24px;
}

html, body {
    color: #FAEBD7;
    background-color: #000;
}

strong {
    color: #FAEFE1;
}

@media screen and (max-width: 768px) {
    .frame {
        min-width: 380px;
    }
}

.nowrap {
    white-space: nowrap;
}

.column {
    display: inline-block;
    vertical-align: top;
    padding-right: 20px;
}

.row {
    text-align: center;
}

.craeft-logo {
    font-size: 90px;
    font-weight: bold;
    color: #FAEFE1;
}

.player {
    margin-bottom: 30px;
}

.player hr {
    margin-bottom: 18px;
}

.item,
.resources,
.craefter,
.craeft-window,
.craefter-window {
    border: 1px solid #FAEFE1;
    margin-bottom: 5px;
    margin-top: 2px;
    padding: 6px;
}

.item-container {
    line-height: 0;
    display: inline-block;
    padding: 2px !important;
}

.item-level {
    position: absolute;
    left: 5px;
    top: 5px;
    font-size: 18px !important;
}

.item-timeout {
    position: absolute;
    left: 18px;
    top: 20px;
}

.item-icon {
    padding-top: 7px;
}

.item-icon-selected {
    border: 1px solid #FAEBD7;
}

.craefters-list {
    margin-top: 5px;
}

.items hr,
.craefters hr,
.farm hr {
    margin-top: 10px;
    margin-bottom: 0;
}

.footer {
    text-align: center;
    background-color: #000;
}

.item-description {
    min-width: 80%;
}

.equipment .columns {
    padding: 0;
}

.equipment .column {
    padding: 0;
}

.logs {
    min-height: 190px;
    text-align: left;
}

.rpgui-button {
    white-space: nowrap;
}